@font-face {
	font-family: "Avenir";
	src: url('/font/Avenir/Avenir-Medium.woff');
}
@font-face {
  font-family: "Avenir Black";
	src: url('/font/Avenir/Avenir-Heavy.woff');
}

@media (min-width: 1024px) {
    .col-md-offset-1-and-half {
        margin-left: 12.499999995%;
    }
}

/* FADE EFFECT BEETWEEN PAGE */

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 350ms linear 150ms;
}

.fade-exit{
  opacity: 1;
}

.fade-exit,
.fade-enter.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}





.slick-prev:before,
.slick-next:before {
  color: #424242 !important;
  display: none;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important; 
}

/* BURGER MENU */
.change-margin{
  margin: 10px 0px !important;
  transition: margin 1s;
}

.change-margin:hover{
  margin: 50px !important;
}
/* Individual item */
@media (min-width: 1023px) {
  .bm-burger-button{
    display: none
 }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #1090A0;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #1090A0;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100vw;
}

/* General sidebar styles */
.bm-menu {
  background: #F2F2F2;
  padding: 1.5em 1.5em 0;
  font-size: 1.2em;
  overflow: hidden !important;
  /* display: none;
  @media (max-width: 1023px) {
    display: block;
  } */
  
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: #1090A0;
  font-family: "Avenir";
  font-weight: 300;
  font-size: 1.2em;
  margin: 15px 0;
  text-decoration: none;
}
